html{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background: rgb(55,112,225);
    background: -moz-linear-gradient(180deg, rgba(55,112,225,1) 0%, rgba(99,219,255,1) 79%);
    background: -webkit-linear-gradient(180deg, rgba(55,112,225,1) 0%, rgba(99,219,255,1) 79%);
    background: linear-gradient(180deg, rgba(55,112,225,1) 0%, rgba(99,219,255,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3770e1",endColorstr="#63dbff",GradientType=1);
    background-attachment: fixed;
}

.user_info{
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;  
    margin-top: -130px;
}

#avatar{
    width:130px;
    height:130px;
    background-color: aliceblue;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 20px 5px  rgb(146, 195, 215);
}

#profile_logo_head {
    width: 50px;
    height: 50px;
    background-color: rgb(9, 86, 125);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#profile_logo_neck {
    margin-top:10px;
    width: 85px;
    height: 35px; 
    background-color: rgb(9, 86, 125);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
#name_of_user{
    background-color: rgb(44, 244, 255);
    box-shadow: 0px 2px 20px 1px  rgb(17, 130, 171);
    background-color: rgb(247, 254, 255);
    color:rgb(0, 195, 255);
    height:30px;
    width: 150px;
    text-align: center;
    border-radius:10px;
}

#url_of_referent{
    box-shadow: 0px 2px 20px 1px  rgb(20, 124, 168);
    background-color: rgb(248, 248, 248);
    color:rgb(0, 195, 255);
    height:auto;
    width:auto;
    text-align: center;
    border-radius:10px;
}

#copy_url_of_ref_btn{
    font-family: "Dela Gothic One", sans-serif;
    background-color: rgb(6, 88, 165);
    color:aliceblue;
    border-radius: 5px;
    border: 0cap;
    width: 130px;
    height: 40px;
    box-shadow: 0px 0px 20px 5px  rgb(77, 153, 211);
    transition: transform 0.2s ease;
}

#copy_url_of_ref_btn:active{
    transform: scale(0.95);
}

#list_of_referals {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -8%;
    height: 40%;
    width: 90%;
    border-radius: 20px;
    text-align: left;
}

#footer {
    position: fixed;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 5%;
    width: 90%;
    height: 10%;
    border-radius: 100px;
    background-color: rgb(6, 65, 116);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
#footer a {
    margin: 0 10px;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 100px;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ref_btn{
    background: #1e83cb;
}

#list_of_referals div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 10px 10px 10px;
    width: 70%;

    border-radius: 45px;
    border: 8px solid rgb(255, 255, 255);
    background: hwb(207 1% 17%);
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 20px 9px  rgb(34, 102, 180);

}

#num_of_ref_text{
    position: absolute;
    top:6%
}

#num_of_ref{
    position: absolute;
    top:9%
}

.num_of_ref_class{
    font-size: 24px;
    text-shadow: 0px 2px 15px rgb(196, 198, 237);
}



      


  


